<div class="row">
  <div class="col-xs-12">
    <p>Add new Servers or blueprints!</p>
    <label>Server Name</label>

    <!--Two-way binding example, doesn't need to be used here since we only need to bind at the point of sending, using local ref here is a better idea, note refs can only be used in templates and cannot be addressed in the component save for passed as params-->

    <!-- <input type="text" class="form-control" [(ngModel)]="newServerName"> -->

    <input type="text" class="form-control" #serverNameRef>

    <label>Server Content</label>
    <!-- <input type="text" class="form-control" [(ngModel)]="newServerContent"> -->
    <input type='text' class='form-control' #serverContentRef/>

    <br>
    <!--When using ref, it is preferred to pass in the value you need from the dom directly -->
    <button class="btn btn-primary" (click)="onAddServer(serverNameRef.value,serverContentRef.value)">Add Server</button>
    <button class="btn btn-primary" (click)="onAddBlueprint(serverNameRef.value,serverContentRef.value)">Add Server Blueprint</button>
  </div>
</div>
<hr>
